@import "~bootstrap/scss/bootstrap";
p, ul{
    margin: 0;
}
body{
    position: relative;
    z-index: 222222;
    background-color: #1c1c1c;
}
.border-bot-blue:hover{
    border-bottom:4px solid #0282f9;
}
/******
header
******/
#header{
    background-color: white;
    // linea blu su header
    .blue-line{
        background-color: #0282f9;
        height: 25px;
        .blue-second-line {
            height: 25px;
            margin-right: 1vw;
            .register-visa, .addition-dc-sites{
                font-size: 11px;
                color: white;
                    .rm{
                        font-size: 5px;
                        vertical-align: super;
                        color: white;
                        margin-left: -4px;
                        margin-right: 2px;
                    }
            }

        }
    }
    .register-visa{
        margin-right: 60px;
    }
     //fine linea blu su header
    .padding-18{
        padding: 18px 0;
    }
    .logo-img-container{
        width: 80px;
        padding-bottom: 18px;
        padding-top: 18px;
            .logo-img{
                width: 100%;
            }
    }
    a{
        font-size: 1vw;
        text-decoration: none;
        color: #303030;
    }
    .col-blue-300:hover{
        color: #0282f9;
    }
    // header search bar
    .menu-search{
        border: none;
        outline: none;
        width: 124px;
        margin-left: 20px;
        margin-bottom: 16px;
        border-bottom:2px solid #0282f9;
    }
    .mrg-t-search{
        margin-top: 43px;
    }
    .margin{
        margin-left: -15px;
    }
    input::placeholder {
        text-align: right;
        color: #303030;
        font-weight: 500;
        margin-right: 10px;
    }
    #search {
        display: none;
    }
    // icona freccia nel menu 
    .shop-list{
        font-size: 11px;
        margin-top: 3px;
        margin-left: 8px;
        color: #0282f9;
    }

}
.jumbotron{
    background-image: url('../img/jumbotron.jpg');
    height: 22vw;
    background-repeat: no-repeat;
    background-size: cover;
}

/******
fine header
******/
/*****
main
*****/
#main{
    // .jumbotron{
    //     background-image: url('../img/jumbotron.jpg');
    //     height: 22vw;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
    // griglia immagini
    .thumb-container{
        width: 180px;
        height: 220px;
            .thumb-img{
                width: 100%;
                height: 100%;
                display: block;
            }
    }
    // font titoli foto
    .font-s{
        font-size: 13px;
    }
    .grid-dc{
        background-color: #1c1c1c;
        padding-bottom: 20px;
            .button-col {
                background-color: #0282f9;
                padding: 10px 25px;
                font-weight: 500;
                font-size: 20px;
            }
            .but-padd{
                padding: 10px 32px;
            }
    }
    // pulsante superiore 
    .position-but{
        position: absolute;
        top: -21px;
        left: 68px;
    }
    // menu centrale
    .menu-container{
        background-color: #0282f9;
        padding: 1.3125rem;
        z-index: 22222;
            ul{
                .list-menu{
                    padding: .9375rem;
                        .padd-img img{
                            padding: .4375rem;
                        }
                        .img-container{
                            padding: .4375rem;
                            img{
                                width: 3.4375rem;
                            }
                        }
                        p{
                            color: white;
                        }
                }
            }
    }
}

/*****
fine main
*****/
/****
footer
*****/
.foot-main-container{
    background: url('../img/footer-bg.jpg');
    background-size: cover;
    height: 34vw;
    background-repeat: no-repeat;
    padding: 35px 0;
        ul{
            list-style: none;
            a{
                text-decoration: none;
                color: #959595;
            }
            h3{
                color: white;
                font-size: 21px;
                margin-bottom: 15px;
            }
            .shop-margin{
                margin-top: 10px;
            }
        }

        .dc-img-big{
            width: 45vw;
            left: 45%;
            top: -83px;
                .dc-img-big{
                    width: 100%;
                    z-index: 1;
                }
        }
        .subtitle-foot{
            padding-left: 32px;
            margin-top: 13px;
            p{
                color: #959595;
                font-size: 12px;
            }
        }
}
 // menu in basso 
 .foot-container{
    background-color: #303030;
    height: 100px;
    z-index: 22222;
        .follow{
            margin-right: 7px;
            color: #0282f9;
        }
            .social-ico{
                color: white;
                margin-right: 10px;
                padding-top: 12px;
                width: 1.5rem;
                    img{
                        width: 100%;
                    }
            }
        button{
            color: white;
            font-weight: 600;
            background-color: #303030;
            padding: 15px 12px;
            border: 2px solid #0282f9;
        }
}
